.piston {
    box-sizing: border-box;
    position: relative;
    width: 4rem;
    height: 3rem;
    background-color: darkcyan;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    -o-transition: top 1s;
    transition: top 1s;
    transition-timing-function: cubic-bezier(0.5, 0.2, 0.5, 0.8);
}
.piston > .ring1 {
    position: absolute;
    top: 0.6rem;
    width: 4rem;
    height: 0.15rem;
    background-color: darkslategrey;
}

.piston > .ring2 {
    position: absolute;
    top: 1rem;
    width: 4rem;
    height: 0.15rem;
    background-color: darkslategrey;
}

.piston > .conBolt {
    box-sizing: border-box;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    border-color: black;
    border-style: solid;
    border-width: 0.1rem;
    background-color: gray;
}

.tdc {
    top: 0rem;
}

.bdc {
    top: 3rem;
}
