.cylinder {
    transform-origin: calc(100% / 2) 9rem;
    position: absolute;
    display: flex;
    background-color: rgba(0, 0, 255, 0.2);
}

.leftWall {
    box-sizing: border-box;
    width: 0.5rem;
    height: 6rem;
    background-color: sandybrown;
}

.workingArea {
    box-sizing: border-box;
    width: (100% - 1rem);
    height: 6rem;
    position: relative;
}

.rightWall {
    box-sizing: border-box;
    width: 0.5rem;
    height: 6rem;
    background-color: sandybrown;
}
